.contents{
  padding-top:50px;
  font-size:20px;
  text-align:center;
  position:relative;
  background-color:rgb(255, 255, 255);
  height:1000px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.about{
  font-size:30px;
  height:200px;
}

.aboutul{
  background-color:#f0f8ff;
  text-align:center;
  margin: 0 auto;
  border-radius:50px;
  width:30em;
}

.test{
  float:left;
}

.icon-c {
  width: 200px;
  border-radius:50%;
  border: 8px solid #dcdcdc;
}

.aboutus{
  padding:10px 30px 10px 30px;
  text-align:left;
  line-height:15px;
}

li{
  height:250px;
  padding:15px;
  margin-left:20px;
  list-style:none;
  display:inline-block;
}

.aboutus h1{
  text-align:center;
  padding-bottom:20px;
  margin-top:50px;
}

.Learning{
  position:relative;
  top:40px;
}
.learn{
  background-color:#f0fff0;
  height:360px;
  width:30em;
  text-align:center;
  border-radius:50px;
  margin: 0 auto;
}

.learn-l{
  margin: 0 auto;
  padding:30px;
}
.learn-l img{
  width:100px;
  height:100px;
}

.learn-l p{
  font-size:25px;
  line-height:10px;
}

.links li{
  width:200px;
  height:50px;
  background-color:black;
}