.contents{
  padding-top:150px;
  font-size:20px;
  text-align:center;
  position:relative;
  background-color:rgb(255, 255, 255);
  height:1000px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.about{
  font-size:30px;
}

.aboutul{
  border:3px solid black;
  text-align:center;
  margin: 0 auto;
  border-radius:50px;
  width:30em;
  margin-bottom:50px;
}

.icon-c {
  width: 200px;
  border-radius:50%;
  border: 8px solid #dcdcdc;
}

.aboutus{
  padding:10px 30px 10px 30px;
  text-align:left;
  line-height:15px;
}

.contents li{
  list-style:none;
  display:inline-block;
}

.aboutus h1{
  text-align:center;
  padding-bottom:20px;
  margin-top:50px;
}

.Learning{
  position:relative;
  top:20px;
}

.learn{
  padding-top:10px;
  border:3px solid black;
  margin: 0 auto;
  border-radius:50px;
  width:30em;
  line-height:20px;
}


.learn-l{
  margin: 0 auto;
  padding:30px;

}

.learn-l img{
  width:100px;
  height:100px;
}

.learn-l p{
  font-size:25px;
  line-height:5px;
}

/*ボタン*/
.links{
  padding-right:40px;
  padding-top:75px;
}

.links span{
  margin: 0 auto;
  font-size: 45px;
}

.links li{
  padding:0px 20px 0px 20px;
}
.blog a{
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px 40px;
  width: 300px;
  color: #2285b1;
  font-weight: 700;
  border: 2px solid #2285b1;
}

.blog a::after {
  content: '';
  width: 20px;
  height: 20px;
  border-top: 3px solid #2285b1;
  border-right: 3px solid #2285b1;
  transform: rotate(45deg);
}

.blog a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #a0c4d3;
}

.blog a:hover::after {
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
}

.works a{
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px 40px;
  width: 300px;
  color: #2ead2e;
  font-weight: 700;
  border: 2px solid #2ead2e;
}

.works a::after {
  content: '';
  width: 20px;
  height: 20px;
  border-top: 3px solid #2ead2e;
  border-right: 3px solid #2ead2e;
  transform: rotate(45deg);
}

.works a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #9bbd9b;
}

.works a:hover::after {
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
}