.footer{
  position:relative;
  padding: 20px 3% 25px;
  background-color: #696969;
  display: flex;
  height:100px;
  margin-top:40px;
}

.icon8{
  margin: 0 auto;
  padding-top:25px;
  color:white;
}