.header {
  position:relative;
  padding: 20px 3% 25px;
  background-color: #fffafa;
  display: flex;
  height:100px;
}

li{
  list-style:none;
  display:inline-block;
}

.icon-h-l{
  float:left;
}

.icon-h {
  width: 100px;
  border-radius:50%;
  border: 5px solid #dcdcdc;
  font-family: 'Montserrat', sans-serif;
  margin: 0; 
  padding: 0;
  font-size: 40px;
}

.link-l{
  margin: 0 0 0 auto;
  font-size:70px;
}

.g-link{
  color:#171515;
  margin:25px 40px 0px 0px;
}

.t-link{
  color:#00acee;
}

a:visited{
  color: inherit;
}

.header-link ul{
  text-align:center;
  margin: 0 auto;
  background-color:#fffafa;
  border-top: 1px solid #dcdcdc;
}

.header-link li{
  background-color:#eeeeee;
  height:40px;
  width:250px;
  margin:0px 40px 0px 40px;
}

.header-link a{
  text-decoration: none;
  font-size:25px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  letter-spacing:3px;
  color:#a9a9a9;
}

.header-link a:hover{
  transition:0.3s;
  opacity:0.7;
}