main{
  width:100%;
  height:720px;
  position:relative;
}

.bg{
  background-image:url("../images/bg.png");
}

.bg-rgba {
  background: rgba(255,255,255,0.1);
  height:720px;
}

.title{
  padding-top:230px;
  font-size:80px;
}

.title-text{
  text-align:center;
  border-bottom:2px solid white;
  color:#F2FDFE;
  letter-spacing:10px;
  text-shadow: 4px 4px 4px rgba(0,0,0,0.6);
  font-family: 'Zen Loop';
}